body{
  font-family: Arial, Helvetica, sans-serif;
}
*{
  padding: 0px;
  margin: 0px;
}
#container{
  width: 75%;
  margin:0px auto;
  background-color: #808080;
}
nav{
  width: 100%;
  padding: 1.5% 0%;
  background-color:#000000;
  float: left;
}
nav p{
  margin-left: 1%;
  color: #ffffff;
  font-size: 2em;
  font-style: oblique;
  font-family: serif;
  font-weight: bold;
  float: left;
}
nav a{
  float: right;
  padding-right: 1%;
  text-decoration: none;
  font-size: 18px;
  color: #8096ff;
}
#banner{
  width: 100%;
  background-color: #404040;
  float: left;
}
#banner h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #ffffff;
  padding: 1%;
  background-color: #000000;
  opacity: 0.8;
  border-radius: 2px;
}
section{
  width: 100%;
  background-color: #404040;
  float: left;
}
#footer{
  color: #ffffff;
  width: 100%;
  padding: 2% 0%;
  font-size: 12px;
  font-style: oblique;
  font-family: serif;
  font-weight: bold;
  background-color:#000000;
  text-align: center;
  float: left;
}
.food-item,.food-item2{
  width: 20%;
  margin-left: 4%;
  color: #ffffff;
  float: left;
}
.food-item img,.food-item2 img{
  width: 95%;
  height: 200px;
  padding: 1%;
  border-radius: 1em;
  border-color: #000000;
  border-style: solid;
  margin: 0px auto;
}
.food-item figcaption{
  text-align: center;
  color: #ffffff;
}
.food-item2 figcaption{
  text-align: left;
  color: #ffffff;
}
section p{
  padding: 2% 0%;
  font-weight: bold;
  font-size: 15px;
  width: 50%;
  margin: 0pc auto;;
  font-family: serif;
  color: 	#ffffff;
  text-align: center;
}
.input{
  padding: 10px;
  width: 90%;
  margin: 1%;
  font-size: 16px;
  border-radius: 0.2em;
}
form{
  background-color: #595959;
  width: 50%;
  padding: 3%;
  border-radius: 0.3em;
  margin: 0px auto;
}
#submit{
  padding: 2px;
  width: 94.5%;
  background-color: #00a9ac;
  border-radius: 0.5em;
  border-style: none;
  color: #ffffff;
  font-size: 30px;
}
#submit:hover{
  transition: 2s;
  background-color: #00a9d1;
  cursor: pointer;
}
#acc-title{
  font-size: 36px;
  margin-top: 7%;
  text-align: center;
}
#register{
  padding: 2px;
  width: 94.5%;
  background-color:#00baa9;
  border-radius: 0.5em;
  border-style: none;;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  float: left;
}
#order{
  width: 100%;
  float: left;
}
#payment{
  width: 100%;
  float: left;
}
#order_payment{
  width: 30%;
  margin: 0% auto;
  padding: 1%;
  background-color: #000000;
  border-radius: 0.5em;
  opacity: 0.9;
}
#btn_order{
  width: 90%;
  font-weight: bold;;
  margin: 1% auto;
}
button{
  cursor: pointer;
}
button:hover{
  color: #00a4c6;
}
#histoy_bar{
  margin-top: 5%;
  width: 100%;
  padding-left: 0px;
  background-color: 	#8c8c8c;
  margin-left: 0px;
  float: left;
}
#histoy_bar p{
  font-family: serif;
  font-size: 18px;
  text-align:center;
  padding: 5%;
  margin-top: 5%;
  color: #000e55;
}
#btn_history{
  font-size: 20px;
  padding: 2% 1%;
  width: 98%;
  background-color: 	#1a1a1a;
  color: #00acc6;
  float: left;
}
a{
  text-decoration: none;
}
table img{
  border-radius: 4em;
  height: 120px;
  width: 120px;
  position: relative;
}
th{
  background-color: #6d6b6b;
  color: #ffffff;
}
th{
  padding: 2% 0%;
}
table{
  width: 100%;
}
#admin-dashboard{
  width: 100%;
  background-color: #262626;
  float: left;
}
.admin-dashboard{
  width: 94%;
  margin: 2%;
  padding: 2%;
  float: left;
}
#div_img{
  width: 15%;
  height: 120px;
  margin-left: 4%;
  cursor: pointer;
  float: left;
}
#div_img img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#div_desc{
  width: 25%;
  height: 82px;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #a6a6a6;
  text-align: center;
  padding-top: 4%;
  margin-right: 5%;
  float: left;
  color: blueviolet;
}
#div_desc:hover{
  cursor: pointer;
}
#food_items{
  border-radius: 0.5em;
  width: 80%;
  padding: 0.5% 2%;
  overflow: hidden;
  border: solid 3px #333333;
  margin-bottom: 5px;
  background-color: #ffffff;
  margin: 0% auto;
  height: auto;
}
#food_items{
    color: #00131a;
    font-family: serif;
    font-weight:normal;
    font-size: 14px;
    width: 90%;
    text-align: justify;
}
#food_items p span{
  color: blue;
  font-size: 18px;
}
#_adm{
  display: none;
}
#error{
  color: #f442a7;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  width: 80%;
  padding-top: 5%;
  margin: 5px auto;
  display: block;
}
.msg{
  color: #ff0000;
  font-size: 1em;
  font-style: italic;
  text-align: center;
  width: 90%;
  margin: 0px auto;
  display: block;
}
#btnord button{
  margin: 1% auto;
  width: 96%;
}
#item{
  line-break: auto;
  width: 25%;
  padding: 4px;
  background-color: #c5c4c4;
  border-radius: 1em;
  margin: 2% 3.3%;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3em;
  float: left;
}
#item img{
  width:98%;
  margin: 1% auto;
  height: 150px;
}
hr{
  width: 100%;
}
#orders_tb{
  display: table;
  table-layout: auto;
  margin: 1% auto;
  word-break: break-all;
  border-collapse: collapse;
  display: none;
}
#orders_tb td, #orders_tb th {
  border: 1px solid rgb(218, 216, 216);
  padding: 15px;
}
#orders_tb tr:nth-child(even){
  background-color: #dbd7d7;
}
#orders_tb  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: cadetblue;
  font-size: 0.8em;
}
td button{
  width: 42%;
  margin: 1%;
  font-size: 12px;
  font-weight: bold;
}
th:last-child{
  width: 30%;
  background-color: #00a9ac;
}
th:nth-child(1){
  width:6%;
}
th:nth-child(2){
  width:7%;
}
#btn1{
  color:#1e631c;
}
#btn2{
  color: rgb(21, 26, 105)
}
#btn3{
  color: rgb(167, 82, 82);
}
#btn4{
  color: firebrick;
}
#add{
  height: 30px;
  width: 30px;
  position: relative;
}
#div_desc button{
  padding: 1%;
  z-index: 5;
  margin: 0% auto;
  display: none;
}
#order_id, #quantity{
  padding: 8px 0px;
}
.form_inputs{
  width: 80%;
}