<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="author" content="Paul Mathenge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
    <title>Fast Food Fast - {{title}}</title>
  {% else %}
    <title> Fast Food Fast</title>
  {% endif %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/securePages.js') }}"></script>
</head>
<body>

  <div id="container">
      <nav>
          <p>Fast food Fast</p>
          <script>
            if(localStorage.getItem("user") === null){
              window.location.href = "/";
            }
          </script>
          <a href="{{url_for('logout')}}"  onclick="localStorage.clear()">Logout</a>
          <a href=""><button>Welcome <span style="color: blue;"><script>document.write(localStorage.getItem("user"));</script></span></button></a>
      </nav>
  {% block content %}

  {% endblock %}
      <div id="footer">&copy2018 by Fast-Food-Fast restaurants</div>
  </div>
</body>
</html>
