
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Styles.css') }}">
</head>
<body>
    <p id="acc-title">Login to your account</p>
    <form onsubmit="event.preventDefault();" id='login'>
      <input type="text" placeholder="Enter your username" required class="input" id="username">
      <input type="password" placeholder="Enter your password" required class="input" id="password">
      <button id="submit" onclick="login();">Login</button>
      <a href="{{url_for('signup')}}" id="register">SignUP</a>
      <span id="error"></span>
    </form>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
</html>
