
{% extends "base.html" %}
{% block content %}
      <section>
        <div id="admin-dashboard">
          <div class="admin-dashboard">
            <a href="{{url_for('menu')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/item.jpg')}}" alt = "Item image"></div>
              <div id="div_desc">
                <h2>Menu Options</h2>
                <h4 id="menu_count"></h4>
              </div>
            </a>
            <a href="{{url_for('orders')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/order.jpeg')}}" alt = "Item image')}}"></div>
                <div id="div_desc">
                  <h2>View Orders</h2>
                </div>
              </a>
          </div>
        </div>
        <h2 style="text-align:center; color:#ffffff; margin:10px;">Menu Options</h2>
        <div id="menu"></div>
        <section>
        <script type="text/javascript" src="{{ url_for('static', filename='js/viewMenu.js') }}"></script>
{% endblock %}
