{% extends "base.html" %}
{% block content %}
      <section>
        <div id="admin-dashboard">
          <div class="admin-dashboard">
            <a href="{{url_for('menu')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/item.jpg')}}" alt = "Item image"></div>
              <div id="div_desc">
                <h2>View Menu Options</h2>
              </div>
            </a>
            <a href="{{url_for('orders')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/order.jpeg')}}" alt = "Item image')}}"></div>
                <div id="div_desc">
                  <h2>Orders</h2>
                  <h4 id="orders_count"></h4>
                </div>
              </a>
          </div>
        </div>
        <h2 style="text-align:center; color:#ffffff; margin:10px;">Order History
          <form onsubmit="event.preventDefault(); getOrder();"  id="frmsearch">
            <input type="search" placeholder="Filter order by ID" required id="search">
            <input type="submit" value="Search" id="btnsubmit">
          </form>
        </h2>
        <div id="food_items">
          <table id="orders_tb">
          </table>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/viewOrders.js') }}"></script>
        <section>
{% endblock %}
