{% extends "base.html" %}
{% block content %}
      <section>
        <div id="admin-dashboard">
          <div class="admin-dashboard">
            <a href="{{url_for('menu')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/item.jpg')}}" alt = "Item image"></div>
              <div id="div_desc">
              <h2>View Menu Options</h2>
              </div>
            </a>
            <a href="{{url_for('orders')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/order.jpeg')}}" alt = "Item image')}}"></div>
                <div id="div_desc">
                  <h2>Orders</h2>
                  <h4 id="orders_count"></h4>
                </div>
              </a>
          </div>
        </div>
        <h2 style="text-align:center; color:#ffffff; margin:10px;">Place Order</h2>
          <form action="#" method="post">
          <table>
            <tr class="_adm"><td>Order ID</td><td><input type="text" id="orderid"> </td></tr>
            <tr><td>Meal Item</td><td><input type="text" id="meal_name"></td></tr>
            <tr><td></td><td><input type="text" id="meal_id"></td></tr>
            <tr><td>Address</td><td><input type="text" id="address"></td></tr>
            <tr><td>Quantity</td><td><input type="text" id="quantity"></td></tr>
            <tr class="_adm"><td>Status</td><td><input type="text" id="quantity"></td></tr>
            <tr><td colspan="2"><input type="submit" value="Order Now" id="submit"> </td></tr>
          </table>
          </form>
        <section>
        <script type="text/javascript" src="{{ url_for('static', filename='js/viewOrders.js') }}"></script>
{% endblock %}
