{% extends "base.html" %}
{% block content %}
      <section>
        <div id="admin-dashboard">
          <div class="admin-dashboard">
            <a href="{{url_for('menu')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/item.jpg')}}" alt = "Item image"></div>
              <div id="div_desc">
              <h2>View Menu Options</h2>
              </div>
            </a>
            <a href="{{url_for('orders')}}">
              <div id="div_img"><img src="{{url_for('static', filename = 'img/order.jpeg')}}" alt = "Item image')}}"></div>
                <div id="div_desc">
                  <h2>Orders</h2>
                  <h4 id="orders_count"></h4>
                </div>
              </a>
          </div>
        </div>
        <h2 style="text-align:center; color:#ffffff; margin:10px;">Place Order</h2>
          <form onsubmit="event.preventDefault();">
          <table>
            <tr class="_adm"><td>Order ID</td><td><input type="text" id="orderid"> </td></tr>
            <tr><td>Meal Option</td><td><input type="text" value="{{var1}}" id="meal_id" readonly></td></tr>
            <tr><td>User Address</td><td><input type="text" id="address" required></td></tr>
            <tr><td>Quantity</td><td><input type="text" id="quantity" required></td></tr>
            <tr class="_adm"><td>Status</td><td><input type="text" id="status"></td></tr>
            <tr><td colspan="2"><button id="submit" onclick="placeOrder();">Submit Order</button></td></tr>
            <tr><td colspan="2"><span id="error"></span>
          </table>
          </form>
        <section>
        <script type="text/javascript" src="{{ url_for('static', filename='js/placeOrders.js') }}"></script>
{% endblock %}
